.buttonsColumn {
  width: 17%;

  input {
	margin:    5px;
	min-width: 70px;
  }

}

.collapseIcon {
  float:  right;
  width:  20px;
  height: 16px;
  cursor: pointer;

  &.collapseIconIn {
	background: url(../images/collapseIcons.png) 0 0;
  }

  &.collapseIconOut {
	background: url(../images/collapseIcons.png) 0 -16px;
  }

  &.sortSubjects,.sortCategories, .sortTeachers {
	cursor: pointer;
  }

}


