@containerColor: #EDF1F2;

.mainWrapper {
  background      : url("../images/222.jpeg") top center fixed;
  background-size : cover;
  padding         : 50px 0;
  min-width       : 100%;
  min-height      : 100%;

}

.row {
  margin : 5px;
}

.nav-tabs {

  li {

	a {
	  padding-top   : 6px;
	  padding-right : 35px;
	}
	&.active .removeCategory {
	  visibility : visible;
	}
  }

}

.subjectsTab {

  .tab-pane {
	height     : 115px;
	overflow-y : scroll;

  }

}

.tab-content {
  margin-bottom : 10px;
  border        : 1px solid #DDDDDD;
  border-top    : none;
  display       : block;

  .active {
	min-height : 73px;
  }

  .tab-pane {
	padding    : 10px;
	background : white;

  }

  .ui-draggable {
	display : inline-block;
	margin  : 10px;
  }
}

.dropdown-menu {

  li {
	span {
	  margin : 5px 10px 0 0;
	}
  }
}

.divSubject {
  font-size     : 14px;
  padding       : 7px;
  width         : 150px;
  min-height    : 32px;
  cursor        : pointer;
  text-align    : left;
  border        : none;
  overflow      : hidden;
  text-overflow : ellipsis;

  &:hover .removeSubject {
	cursor     : pointer;
	visibility : visible;
  }

}

.calendarContainer {
  background : @containerColor;
  position   : relative;
}

.removeSubject, .removeCategory {
  position   : absolute;
  right      : 5px;
  top        : 9px;
  cursor     : pointer;
  visibility : hidden;
  &:hover {
	-webkit-transform : scale(1.4);
	-moz-transform    : scale(1.4);
	-ms-transform     : scale(1.4);
	-o-transform      : scale(1.4);
	transform         : scale(1.4);;
  }

}

.own-popover {
  position  : absolute;
  min-width : 200px;
  font-size : 12px;
  z-index   : 10;

  table {
	padding-bottom : 5px;
  }
  .remove-popover {
	float  : right;
	margin : 3px 5px 0 0px;
	cursor : pointer;
  }
  .footer-content {
	text-align : center;
  }
  .popover-content {
	padding : 0;
  }

}

#external-events {

  input {
	width         : 90%;
	margin-bottom : 5px;
	text-align    : left;
  }

}