.avatar {
    width: 150px;
    height: 150px;
}
#avatarUpload {
    width: 157px;
    height: 57px;
    background: url(../images/upload.png);
    overflow: hidden;
}
input[type="file"] {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
.settingsBody {
    background-color: #eff4f7;
}

.borderRed {
    border: 1px solid red;
}