<div class="inner">
<div class="topImages">
    <img class="logo rightFloat" src="images/CompanyName.png" alt="SoftServeLogo">
    <img class="logo leftFloat" src="images/GroupName.png" alt="GroupName">
</div>
<div class="main">

    <div class="jumbotron">
        <img class="personAvatar" src="images/KateAvatar.png" alt="Avatar">
        <div class="informationAboutPerson">
            <p>Chrystyna-Kate Illiuk</p>
            <p>
                <span class="over_ttl">Motive:</span>Girl, who inspired all team</p>
            <p>
                <span class="over_ttl">Role:</span>Initiator</p>
            <p>
                <span class="over_ttl">Skills:</span>HTML, CSS,JS, BackboneJS, jQuery</p>
            <p>
                <span class="over_ttl">E-mail:</span>hrustuna.iluk@gmail.com</p>
        </div>
    </div>
    <div class="jumbotron">
        <img class="personAvatar" src="images/AndriuAvatar.png" alt="Avatar">
        <div class="informationAboutPerson">
            <p>Andriy Komarnitskyi</p>
            <p>
                <span class="over_ttl">Motive:</span>I know how do that! You can rely on me.</p>
            <p>
                <span class="over_ttl">Role:</span>Carry</p>
            <p>
                <span class="over_ttl">Skills:</span>Node.js, WordPress, HTML, CSS,JS, BackboneJS, jQuery</p>
            <p>
                <span class="over_ttl">E-mail:</span>ticapac@gmail.com
                <p>
        </div>
    </div>
    <div class="jumbotron">
        <img class="personAvatar" src="images/YuriiAvatar.png" alt="Avatar">
        <div class="informationAboutPerson">
            <p>Yurii Lysenko</p>
            <p>
                <span class="over_ttl">Motive:</span>I like Web-development.</p>
            <p>
                <span class="over_ttl">Role:</span>Support</p>
            <p>
                <span class="over_ttl">Skills:</span>Less, HTML, CSS, JS, BackboneJS, jQuery</p>
            <p>
                <span class="over_ttl">E-mail:</span>yorik.cv@gmail.com</p>
        </div>
    </div>
    <div class="jumbotron">
        <img class="personAvatar" src="images/PavloAvatar.png" alt="Avatar">
        <div class="informationAboutPerson">
            <p>Pavlo Blazhchuk</p>
            <p>
                <span class="over_ttl">Motive:</span>I will do this stuff.</p>
            <p>
                <span class="over_ttl">Role:</span>Tank</p>
            <p>
                <span class="over_ttl">Skills:</span>HTML, CSS, JS, BackboneJS, jQuery, Grunt</p>
            <p>
                <span class="over_ttl">E-mail:</span>pblazhchuk@gmail.com</p>
        </div>
    </div>
    <div class="jumbotron">
        <img class="personAvatar" src="images/OleksiiAvatar.png" alt="Avatar">
        <div class="informationAboutPerson">
            <p>Oleksii Ivasiuk</p>
            <p>
                <span class="over_ttl">Motive:</span>Give me a task and I will do that!
                <p>
                    <span class="over_ttl">Role:</span>Support
                    <p>
                        <p>
                            <span class="over_ttl">Skills:</span>HTML, CSS,JS, BackboneJS,, WordPress, PowerShell.</p>
                        <p>
                            <span class="over_ttl">E-mail:</span>tverezo@gmail.com</p>
        </div>
    </div>

</div>
</div>