<div class="admin-wrapper row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#teachersCollapse">
                Teachers
                <div class="collapseIcon collapseIconOut" id="teachersCollapseIcon"></div>
            </div>

            <div class="panel-body panel-collapse collapse in" id="teachersCollapse">
                <table class="table table-hover">
                    <thead>
                        <th class="nameColumn">
                            <span class="sortTeachers" data-sort="name" data-type="true">Name
                                    <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="sournameColumn">
                            <span class="sortTeachers" data-sort="surname" data-type="true">Surname
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="emailColumn">
                            <span class="sortTeachers" data-sort="email" data-type="true">E-mail
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="phoneColumn">
                            <span class="sortTeachers" data-sort="phone" data-type="true">Phone
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="buttonsColumn">Actions</th>
                    </thead>
                    <tbody class="teachersInfo">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#categoriesCollapse">
                Categories
                <div class="collapseIcon collapseIconOut" id="categoriesCollapseIcon"></div>
            </div>
            <div class="panel-body panel-collapse collapse in" id="categoriesCollapse">
                <table class="table table-hover">
                    <thead>
                        <th class="titleColumn">
                            <span class="sortCategories" data-sort="title" data-type="true">Title
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="authorColumn">
                            <span class="sortCategories" data-sort="author" data-type="true">Author
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="buttonsColumn">Actions</th>
                    </thead>
                    <tbody class="categoriesInfo">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#subjectsCollapse">
                Subjects
                <div class="collapseIcon collapseIconOut" id="subjectsCollapseIcon"></div>
            </div>
            <div class="panel-body panel-collapse collapse in" id="subjectsCollapse">
                <table class="table table-hover">
                    <thead>
                        <th class="subjectColumn">
                            <span class="sortSubjects" data-sort="title" data-type="true">Subject
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="categoryColumn">
                            <span class="sortSubjects" data-sort="category" data-type="true">Category
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="authorColumn">
                            <span class="sortSubjects" data-sort="author" data-type="true">Author
                                <span class="glyphicon glyphicon-sort"></span>
                            </span>
                        </th>
                        <th class="buttonsColumn">Actions</th>
                    </thead>
                    <tbody class="subjectsInfo">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
