<div class="main mainContainer">
<div class="barGroup">
    <button type="button" class="btn btn-default categoryButton" data-toggle="collapse" data-target="#teachersCollapse">
        <img class="headerImage" src="images/teacher.png" alt="teacherImage">
        <h3 class="categoryHeader">Teachers</h3>
    </button>

    <div id="teachersCollapse" class="panel-collapse collapse in">
    <table class="teachersInfo tableStyle">
         <tr class="tableHeader tableStyle">
             <td class="nameColumn">Name</td>
             <td class="sournameColumn">Sourname</td>
             <td class="emailColumn">E-mail</td>
             <td class="phoneColumn">Phone</td>
             <td class="buttonsColumn">Actions</td>
         </tr>
    </table>
    </div>
</div>

<div class="barGroup">
    <button type="button" class="btn btn-default categoryButton" data-toggle="collapse" data-target="#categoriesData">
        <img class="headerImage" src="images/categories.png" alt="categoriesImage">
        <h3 class="categoryHeader">Categories</h3>
    </button>

    <div id="categoriesData" class="panel-collapse collapse in">
    <table  class="categoriesInfo tableStyle">
            <tr class="tableHeader tableStyle">
                <td class="titleColumn">Title</td>
                <td class="authorColumn">Author</td>
                <td class="buttonsColumn">Actions</td>
            </tr>
    </table>
    </div>
</div>

<div class="barGroup">
    <button type="button" class="btn btn-default categoryButton subjectsData" data-toggle="collapse" data-target="#subjectsData">
    <img class="headerImage" src="images/subjects.png" alt="subjectsImage">
        <h3 class="categoryHeader">Subjects</h3>
    </button>

    <div id="subjectsData" class="panel-collapse collapse in">
    <table class="subjectsInfo tableStyle">
        <tr class="tableHeader tableStyle">
            <td class="subjectColumn">Subject</td>
            <td class="categoryColumn">Category</td>
            <td class="authorColumn">Author</td>
            <td class="buttonsColumn">Actions</td>
        </tr>
    </table>
    </div>
</div>
</div>