<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-header">
                <span class="titleTextDecoration hideOverflow">
                    <%=title%>
                </span>
            </div>
            <div class="modal-body">
                <span class="text-danger textDelete hideOverflow">Do you really want to delete this event?</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success deleteBtn" data-dismiss="modal">Delete</button>
                <button class="btn btn-danger cancelBtn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
