<div class="row" id="subjectContainer">
    <div id="navTabs" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="navTabContainer">

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="navTabPaneContainer">

        </div>
    </div>
    <div id="buttonCreate" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div id='external-events'>
            <input type="button" value="+ category" class="createCategory btn btn-default" />
            <input type="button" value="+ subject" class="create btn btn-default" />
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="forAlert"></div>
    <div class="thumbnail">
        <div class="row" id="calendarContainer"></div>
    </div>
</div>
