<!--User Login Template-->
<header class="container">
    <div class="row">
        <a class="logo" href="#">Our project</a>
        <a class="it_a" href="#">
            <img src="images/ss.jpg" alt="" />
        </a>
    </div>
</header>
<section class="cover">

    <div class="container">
        <div class="row">
            <div class="caption promo">
                <h1>exam</h1>

                <h3>SoftServe IT Academy project</h3>
            </div>
            <div class="col-md-3 pull-right b_regForm b_login">
                <div class="caption">
                    <h3>Log In</h3>
                </div>
                <form class="form-horizontal b_loginForm" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input class="form-control" name="email" id="inputEmail" placeholder="Email">
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                            <div class="incorrectLogin">Wrong login or password</div>
                            <input type="submit" class="btn btn-success btn-default" id="submitButton" value="Sign In" />
                            <input type="button" class="btn btn-default btn-info" id="registerButton" value="Sign up" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="block container">
    <div class="row">
        <p class="copy col-md-6">Всі права захищено @SoftServe IT Academy group CH-024</p>
        <nav>
            <ul class="col-md-6 ">
                <li><a href="#">About</a>
                </li>
                <li><a href="#">Terms</a>
                </li>
                <li><a href="#">Team</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
