<!--Popover template-->
<div class="own-popover">
    <div class="popover-header">
        <span class="glyphicon glyphicon-remove remove-popover"></span>
        <span class="header-content">
            <%=title%>
        </span>
    </div>
    <div class="popover-content">
        <span>Start event:
            <%=start%>
        </span>
        </br>
        <span>End event:
            <%=end%>
        </span>
        </br>
        <span>Classroom:
            <%=classroom%>
        </span>
        </br>
        <span>Amount of students:
            <%=amountOfStudents%>
        </span>
    </div>
    <div class="footer-content">
        <input type="button" value="Assign" class="btn-success">
    </div>
</div>
