<div class="panel panel-primary own-popover">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-remove remove-popover"></span>
        <span class="header-content hideOverflow">
            <%=title%>
        </span>
    </div>


    <div class="popover-content panel-body">
        <table class="table">
            <tbody>
            <tr>

                <td>Start/End event:</td>
                <td> <%=start%> - <%=end%> of <%= thisDay%></td>
            </tr>

            <tr>

                <td>Classroom:</td>
                <td> <%=classroom%></td>
            </tr>

            <tr>

                <td>Amount of free places/all:</td>
                <td> <b><%=amountFreePlace%></b> / <%=amountOfStudents%></td>
            </tr>
            </tbody>
        </table>

    </div>

    <%=buttonAssign%>
</div>
