<div class="row" id="subjectContainer">


    <div id="navTabs" class="col-md-10">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="navTabContainer">

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="navTabPaneContainer">

        </div>
    </div>


    <div id="buttonCreate" class="col-md-2">
        <div id='external-events'>

            <input type="button" value="Add category" class="createCategory  btn  btn-primary"/>
            <input type="button" value="Add subject" class="create btn  btn-primary"/>


            <input type="button" value="My events" class="watchMyEvents  btn btn-warning"/>
            <input type="button" value="All events" class="watchAllEvents  btn btn-warning"/>



        </div>
    </div>

</div>