<div class="row">
    <div class="col-md-4" style="border: 1px solid black; border-collapse: collapse;">
        <div class="popover-content">
            <span>Start event:

            </span>
            </br>
            <span>End event:

            </span>
            </br>
            <span>Classroom:

            </span>
            </br>
            <span>Amount of students:

            </span>
            </br>
            <span>Amount of free place:
              
            </span>
        </div>


    </div>
       <div class="col-md-4" style="border: 1px solid black; border-collapse: collapse;">
        <div class="popover-content">
            <span>Start event:

            </span>
            </br>
            <span>End event:

            </span>
            </br>
            <span>Classroom:

            </span>
            </br>
            <span>Amount of students:

            </span>
            </br>
            <span>Amount of free place:
              
            </span>
        </div>


    </div>
       <div class="col-md-4" style="border: 1px solid black; border-collapse: collapse;">
        <div class="popover-content">
            <span>Start event:

            </span>
            </br>
            <span>End event:

            </span>
            </br>
            <span>Classroom:

            </span>
            </br>
            <span>Amount of students:

            </span>
            </br>
            <span>Amount of free place:
              
            </span>
        </div>


    </div>


</div>
