<div class="col-md-4">
    <div class="panel panel-primary" style="border-color: <%=event.color%>">

        <div class="panel-heading cabinetHeaderBar" style="background-color: <%=event.color%>; border-color: <%=event.color%>; color: <%=event.textColor%>"><%=event.title%></div>

        <div class="panel-body cabinetContentBar">
            <span>Start event: <%=start%></span>
            </br>
            <span>End event: <%=end%></span>
            </br>
            <span>Classroom: <%=event.classroom%></span>
            </br>
            <span>Amount of students: <%=event.amountOfStudents%></span>
            </br>
            <span>Amount of free place: <%=amountOfFreePlace%></span>
        </div>

        <div class="panel-footer footerCabinetBar">
            <ul class="list-group">
                <li class="list-group-item numberOfStudents">
                    <span class="badge" data-toggle="popover" data-placement="bottom"><%=event.amountOfStudents - amountOfFreePlace%></span>
                    Students
                </li>
            </ul>
        </div>

    </div>
</div>