<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">

            <div class="panel-heading cabinetHeaderBar">Event Name</div>

            <div class="panel-body cabinetContentBar">
                <span>Start event:</span>
                </br>
                <span>End event:</span>
                </br>
                <span>Classroom:</span>
                </br>
                <span>Amount of students:</span>
                </br>
                <span>Amount of free place:</span>
            </div>

            <div class="panel-footer footerCabinetBar">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">4</span>
                        Students
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">

            <div class="panel-heading cabinetHeaderBar">Event Name</div>

            <div class="panel-body cabinetContentBar">
                <span>Start event:</span>
                </br>
                <span>End event:</span>
                </br>
                <span>Classroom:</span>
                </br>
                <span>Amount of students:</span>
                </br>
                <span>Amount of free place:</span>
            </div>

            <div class="panel-footer footerCabinetBar">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">2</span>
                        Students
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">

            <div class="panel-heading cabinetHeaderBar">Event Name</div>

            <div class="panel-body cabinetContentBar">
                <span>Start event:</span>
                </br>
                <span>End event:</span>
                </br>
                <span>Classroom:</span>
                </br>
                <span>Amount of students:</span>
                </br>
                <span>Amount of free place:</span>
            </div>

            <div class="panel-footer footerCabinetBar">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">6</span>
                        Students
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
