<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-header">
                <span class="titleTextDecoration">Create new category</span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Input category title:</label>
                    <input type="text" class="categoryTitle form-control"  id="categoryTitle" name="categoryTitle"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="saveBtn btn-lg" data-dismiss="modal">Save</button>
                <button class="cancelBtn btn-lg " data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
