<!--Template for creating new subject-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span class="titleTextDecoration">Create new subject</span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Input subject title:</label>
                    <input type="text" class="subjectTitle form-control" />
                </div>
                <div class="form-group">
                    <label>Choose category:</label>
                    <select class="categoryTitle form-control"></select>
                </div>
                <div class="form-group">
                    <label>Input color:</label>
                    <input type="text" value="185f96" name="back-ground" class="pick-a-color form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button class="saveBtn btn-lg" data-dismiss="modal">Save</button>
                <button class="cancelBtn btn-lg" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
