<div>
    <div class="row">
        <div class="col-sm-4 blueText">
            Coded with
            <span class="glyphicon glyphicon-heart"></span>
        </div>

        <div class="col-sm-1">
            <a href="http://twitter.com" class="socialMedia">a</a>
        </div>
        <div class="col-sm-1">
            <a href="http://facebook.com" class="socialMedia">b</a>
        </div>
        <div class="col-sm-1">
            <a href="http://plus.google.com" class="socialMedia">c</a>
        </div>
        <div class="col-sm-1">
            <a href="https://github.com/nromanen/Ch-024" class="socialMedia">Q</a>
        </div>


        <div class="col-sm-4 rightAlign blueText">
            All Rights Reserved. SoftServe 2014.
        </div>
        <!-- end col-sm-2 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
