<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3>Registration</h3>
            </div>

            <div class="modal-body">
                <form role="form" id="regForm">

                    <div class="form-group">
                        <label for="name">Input name:</label>
                        <input type="text" class="form-control" placeholder="Name" id="name" name="name">

                        <div class="errors text-danger"></div>
                    </div>

                    <div class="form-group">
                        <label for="surname">Input surname:</label>
                        <input type="text" class="form-control" placeholder="Surname" id="surname" name="surname">

                        <div class="errors text-danger"></div>
                    </div>

                    <div class="form-group">
                        <label for="email">Input email:</label>
                        <input type="text" class="form-control" placeholder="Email" id="email" name="email">

                        <div class="errors text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="password">Input password:</label>
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password">

                        <div class="errors text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword">Repeat password:</label>
                        <input type="password" class="form-control" placeholder="Repeat Password" id="repeatPassword" name="repeatPassword">

                        <div class="errors text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Input phone:</label>
                        <input type="text" class="form-control" placeholder="Phone" id="phone" name="phone">

                        <div class="errors text-danger"></div>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="isTeacher" id="isTeacher"/>
                        <label for="isTeacher">Teacher</label>
                    </div>

                    <input type="button" class="btn btn-success" value="Register" id="register" />
                    <input type="button" class="btn btn-danger" value="Cancel" id="cancel" />

                </form>
            </div>
        </div>
</div>
