<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-header">
                <span class="titleTextDecoration">
                    <%=title%>
                </span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Input the number of classroom:</label>
                    <input type="text" class="classForExam form-control" />
                </div>
                <div class="form-group">
                    <label>Input the amount of students:</label>
                    <input type="text" class="amountOfStud form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="saveBtn fc-button" data-dismiss="modal">Save</button>
                <button class="cancelBtn fc-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
