<div class="col-md-12">
    <div class="thumbnail settingsBody">
        <div class="row">
            <form role="form">

                <div class="form-group">
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left">
                                <div class="col-md-12">
                                    <div class="thumbnail avatar">
                                        <img src="http://goo.gl/D1JbJa" alt="Avatar">
                                    </div>
                                </div>
                            </a>

                            <div class="media-body">
                                <label>Edit avatars:</label>
                                <div id="avatarUpload">
                                    <input type="file">
                                </div>
                                <p class="help-block">Formats: JPG, PNG, GIF</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="editEmail">Edit email:</label>
                    <input type="email" class="form-control" placeholder="Edit Email" id="editEmail">
                    <div class="errors text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="currentPassword">Current password:</label>
                    <input type="password" class="form-control" placeholder="Current Password" id="currentPassword">
                    <div class="errors text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="changePassword">Change password:</label>
                    <input type="password" class="form-control" placeholder="Change Password" id="changePassword">
                    <div class="errors text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="repeatPassword">Repeat password:</label>
                    <input type="password" class="form-control" placeholder="Repeat Password" id="repeatPassword">
                    <div class="errors text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="editPhone">Edit phone:</label>
                    <input type="tel" class="form-control" placeholder="Edit Phone" id="editPhone">
                    <div class="errors text-danger"></div>
                </div>

                <input type="button" class="btn btn-success" value="Save Profile" id="saveProfileButton" />
            </form>
        </div>
    </div>
</div>
